{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} Annuler une sortie{% endblock %}

{% block annulationSortieCss %}
    <link rel="stylesheet" href="{{ asset('CSS/annulation.css') }}">
{% endblock %}

{% block main %}

    <h2 class="text-center content-annulation mt-5 mb-5 ">Annulation de sorties</h2>

        {{ form_start(annulationSortieForm) }}

    <div class="row">

        <div class="mx-auto col-sm-10 col-lg-6 card">
            <ul>
                <li><span class="bold">Nom de la sortie :</span> {{ sortie.nom }}</li>
                <li><span class="bold">Date de la sortie :</span> {{ sortie.datedebut | date("d/m/Y") }}</li>
                <li><span class="bold">Campus :</span> {{ sortie.campus.nomCampus }}</li>
                <li><span class="bold">Lieu :</span> {{ sortie.noLieu.nomLieu }} {{ sortie.noLieu.rue }}<br/> {{ sortie.noLieu.ville.codePostal }} {{ sortie.noLieu.ville.nomVille }}</li>
                <li><span class="bold">{{ form_row(annulationSortieForm.motifAnnulation) }}</span>
                    {{ form_widget(annulationSortieForm.motifAnnulation) }}
                </li>
            </ul>

            <div class="d-inline mx-auto">
                <button type="submit" class="btn btn-orange" name="enregistrer" value="enregistrer">Enregistrer</button>
                <button type="submit" class="btn btn-orange" name="annuler" value="annuler">Annuler</button>
            </div>
        </div>

    </div>

        {{ form_end(annulationSortieForm) }}


{% endblock %}