{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Annuler une sortie{% endblock %}

{% block main %}
    {{ form_start(annulationSortieForm) }}
    <h1>Annulation de sorties</h1>

    <ul><u><b>Nom de la sortie :</b></u>{{ sortie.nom }}</ul>
    <ul><u><b>Date de la sortie :</b></u>{{ sortie.datedebut | date("d/m/Y") }}</ul>

    <ul><u><b>Campus :</b></u>{{ sortie.campus.nomCampus }}</ul>
    <ul>
        <u><b>Lieu:</b></u> {{ sortie.noLieu.nomLieu }} {{ sortie.noLieu.rue }} {{ sortie.noLieu.ville.codePostal }} {{ sortie.noLieu.ville.nomVille }}
    </ul>

    <ul>
        <u><b>Motif :</b></u>
        {{ form_row(annulationSortieForm.motifAnnulation) }}
    </ul>

    <button type="submit" class="btn" name="enregistrer" value="enregistrer">Enregistrer</button>
    <button type="submit" class="btn" name="annuler" value="annuler">Annuler</button>

    {{ form_end(annulationSortieForm) }}
{% endblock %}