{% extends 'base.html.twig' %}

{% block title %}Creation de Sorties{% endblock %}

{% block main %}

    <h1 class="text-center">Créer une sortie</h1>

    {{ form_start(creationSortieForm) }}

    <div class="row">

        <div class="col-sm-6"> <!--colone de gauche-->
            <div class="card">
                <div class="card-body">

                    <div class="form-group row">
                        {{ form_label(creationSortieForm.nom) }}
                        {{ form_widget(creationSortieForm.nom) }}
                    </div>

                    <div class="form-group row">
                        {{ form_label(creationSortieForm.datedebut) }}
                        {{ form_widget(creationSortieForm.datedebut) }}

                    </div>

                    <div class="form-group row">
                        {{ form_label(creationSortieForm.datecloture) }}
                        {{ form_widget(creationSortieForm.datecloture) }}
                    </div>

                    <div class="form-group row">
                        {{ form_label(creationSortieForm.nbinscriptionsmax) }}
                        {{ form_widget(creationSortieForm.nbinscriptionsmax) }}
                    </div>

                    <div class="form-group row">
                        {{ form_label(creationSortieForm.duree) }}
                        {{ form_widget(creationSortieForm.duree) }}
                        <p>minutes</p>
                    </div>

                    <div class="form-group row">
                        {{ form_label(creationSortieForm.descriptioninfos) }}
                        {{ form_widget(creationSortieForm.descriptioninfos) }}
                    </div>

                </div>
            </div>
        </div>

        <div class="col-sm-6"> <!--colone de gauche-->
            <div class="card">
                <div class="card-body">
                    <div class="form-group row">
                       //afficher campus du User
                    </div>
                    {{ form_row(creationSortieForm.nom_ville) }}
                    {{ form_row(creationSortieForm.noLieu) }}
                </div>
            </div>
        </div>
    </div>

    <div class="text-center">
        <button type="submit" class="btn" name="enregistrer" value="enregistrer">Enregistrer</button>
        <button type="submit" class="btn" name="publier" value="publier">Publier la sortie</button>
        <button type="submit" class="btn" name="annuler" value="annuler">Annuler</button>
    </div>

    {{ form_end(creationSortieForm) }}

{% endblock %}

{% block javascripts %}{% endblock %}