{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} Creation de Sorties{% endblock %}

{% block creationSortieCss %}
    <link rel="stylesheet" href="{{ asset('CSS/creation.css') }}">
{% endblock %}

{% block main %}

    <h2 class="text-center content-profil">Créer une sortie</h2>

    {{ form_start(creationSortieForm) }}

    <div class="row">

        <div class="mx-auto col-sm-10 mb-sm-5 col-lg-4 card">
            <div class="form-group row">
                {{ form_label(creationSortieForm.nom) }}
                {{ form_widget(creationSortieForm.nom) }}
            </div>

            <div class="form-group row">
                {{ form_label(creationSortieForm.datedebut) }}
                {{ form_widget(creationSortieForm.datedebut) }}
            </div>

            <div class="form-group row">
                {{ form_label(creationSortieForm.datecloture) }}
                {{ form_widget(creationSortieForm.datecloture) }}
            </div>

            <div class="form-group row">
                {{ form_label(creationSortieForm.nbinscriptionsmax) }}
                {{ form_widget(creationSortieForm.nbinscriptionsmax) }}
            </div>

            <div class="form-group row">
                {{ form_label(creationSortieForm.duree) }}
                {{ form_widget(creationSortieForm.duree) }}
            </div>

            <div class="form-group row">
                {{ form_label(creationSortieForm.descriptioninfos) }}
                {{ form_widget(creationSortieForm.descriptioninfos) }}
            </div>
        </div>

        <div class="mx-auto col-sm-10 mb-sm-5 col-lg-4 card">
            <div class="form-group row">
                <p>Campus : {{ app.user.campus }}</p>
            </div>

            <div class="form-group row">
                {{ form_label(creationSortieForm.nom_ville) }}
                {{ form_widget(creationSortieForm.nom_ville) }}
            </div>

            <div class="form-group row">
                {{ form_label(creationSortieForm.noLieu) }}
                {{ form_widget(creationSortieForm.noLieu) }}
                <!-- bouton "+" -->
            </div>

            <div class="form-group row">
                <p>Rue : </p>
            </div>

            <div class="form-group row">
                <p>Code postal : </p>
            </div>

            <div class="form-group row">
                <p>Latitude : </p>
            </div>

            <div class="form-group row">
                <p>Longitude : </p>
            </div>

        </div>

    </div>

    <div class="text-center"> <!--boutons-->
        <button type="submit" class="btn btn-orange" name="enregistrer" value="enregistrer">Enregistrer</button>
        <button type="submit" class="btn btn-orange" name="publier" value="publier">Publier la sortie</button>
        <a class="btn btn-orange" href="{{ path('accueil') }}" >Annuler</a>
    </div>

    {{ form_end(creationSortieForm) }}

{% endblock %}

{% block javascripts %}{% endblock %}