{% extends 'base.html.twig' %}

{% block title %}Creation de Sorties{% endblock %}

{% block main %}


    <h1>Creation de sorties</h1>

    {{ form_start(creationSortieForm) }}
    {{ form_row(creationSortieForm.nom) }}
    {{ form_row(creationSortieForm.datedebut) }}
    {{ form_row(creationSortieForm.datecloture) }}
    {{ form_row(creationSortieForm.nbinscriptionsmax) }}
    {{ form_row(creationSortieForm.duree) }}
    {{ form_row(creationSortieForm.descriptioninfos) }}
    {{ form_row(creationSortieForm.campus) }}
    {{ form_row(creationSortieForm.nom_ville) }}
    {{ form_row(creationSortieForm.noLieu) }}






    <button type="submit" class="btn" name="enregistrer" value="enregistrer">Enregistrer</button>
    <button type="submit" class="btn" name="publier" value="publier">Publier la sortie</button>
    <button type="submit" class="btn" name="annuler" value="annuler">Annuler</button>

    {{ form_end(creationSortieForm) }}




{% endblock %}