{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} Modifier profil{% endblock %}

{% block main %}

<div class="example-wrapper">
    {{ dump (form) }}

    <h1>Modifier profil </h1>
        {{ form_start(form) }}
        {{ form_row(form.pseudo) }}
        {{ form_row(form.nom) }}
        {{ form_row(form.prenom) }}
        {{ form_row(form.email) }}
        {{ form_row(form.password) }}
        {{ form_row(form.telephone) }}
        {{ form_row(form.campus) }}
{#        {{ form_row(form.roles) }}#}
{#        {{ form_row(form.button) }}#}
    {#    <button type="submit" class="btn btn-primary">Update!</button>#}
{#        {{ form_end(form) }}#}
</div>
{% endblock %}
