{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} Compte Utilisateur {% endblock %}

{% block main %}
<h2>Compte de L'utilisateur {{ account.pseudo }}</h2>
<ul>
    <li>{{ account.nom }}</li>
    <li>{{ account.prenom }}</li>
    <li>{{ account.telephone }}</li>
    <li>{{ account.email }}</li>
    <li>{{ account.campus.getNomCampus() }}</li>
</ul>
{% endblock %}