{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} Compte Utilisateur {% endblock %}

{% block main %}
    <h2>Compte de L'utilisateur {{ account.pseudo }}</h2>
    <ul>
        <li>{{ account.nom }}</li>
        <li>{{ account.prenom }}</li>
        <li>{{ account.telephone }}</li>
        <li>{{ account.email }}</li>
{#        {% for ecole in account.campus  %}#}
{#            {{ dump(account.nom_campus ) }}#}
{#        <li>{{ app.campus.nom_campus }}</li>#}
{#        {% endfor %}#}
        <li>{{ account.campus.getNomCampus() }}</li>
    </ul>
{#    {% if {{ path('compte') }} OR {{ path('detail') }} %}#}
    <a href="{{ path('edit', {'id': account.id})  }}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true" value="edit">Modifier profil</a>
{#        {% elseif {{ path('accueil') }} %}#}
{#            <h1>You can't access that button fucking nerd</h1>#}
{#        {% endif %}#}
{#    {% endif %}#}
{#{% block title %}#}
{#    Ideas details | {{ parent() }}#}
{% endblock %}