{% extends 'base.html.twig' %}

{% block main %}
    <h2>Compte de L'utilisateur {{ account.pseudo }}</h2>
    <ul>
        <li>{{ account.nom }}</li>
        <li>{{ account.prenom }}</li>
        <li>{{ account.telephone }}</li>
        <li>{{ account.email }}</li>
{#        {% for ecole in account.campus  %}#}
{#            {{ dump(account.nom_campus ) }}#}
{#        <li>{{ account.campus.nom_campus }}</li>#}
{#        {% endfor %}#}
        <li>{{ account.campus.getNomCampus() }}</li>
    </ul>
{#{% block title %}#}
{#    Ideas details | {{ parent() }}#}
{% endblock %}