{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block main %}
    <h1 class="text-center">Les utilisateurs</h1>

    <section>
        {% for accounts in account %}
            <article>
{#                <p>{{ accounts.pseudo|capitalize }}</p>#}
                <a href="{{ path('detail', {'id': accounts.id}) }}" title="{{ accounts.pseudo }}">{{ accounts.pseudo|capitalize }}</a>
            </article>
        {% endfor %}
    </section>
{% endblock %}