{% extends 'base.html.twig' %}

{% block accueilCarouselCss %}
    <link rel="stylesheet" href="{{ asset('CSS/listeAdmin.css') }}">
{% endblock %}

{% block title %}{{ parent() }}{% endblock %}

{% block main %}
    <h1 class="text-center" id="utilisateurs">Les utilisateurs</h1>

    <section>
        {% for accounts in account %}
            <article>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item liste"><a class="liste" href="{{ path('detail', {'id': accounts.id}) }}" title="{{ accounts.pseudo }}">{{ accounts.prenom | capitalize }}</a></li>
                </ul>
            </article>
        {% endfor %}
    </section>
{% endblock %}