{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} Accueil!{% endblock %}

{% block main %}

    <h2>Filtrer les sorties</h2>


    <form method="get">

        <div class="row">

            <div class="col-7">

                <div class="form-group row ">
                    <label for="inputState" class="col-sm-5 col-form-label">Campus :</label>
                    <div class="col-sm-6">
                        <select id="inputState" class="form-control">
                            <option selected>Villes</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputRecherche" class="col-sm-5 col-form-label">Le nom de la sortie contient :</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="inputRecherche" placeholder="Recherche">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputPassword" class="col-1 col-form-label">Entre :</label>
                    <div class="col-3">
                        <input type="date" class="form-control" id="inputPassword">
                    </div>
                    <label for="inputPassword" class="col-1 col-form-label">Et :</label>
                    <div class="col-3">
                        <input type="date" class="form-control" id="inputPassword">
                    </div>
                </div>

            </div>

            <div class="col-3 my-auto">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Sorties dont je suis l'organisateur/trice</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Sorties auxquelles je suis inscrit/e</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Sorties auxquelles je ne suis pas inscrit/e</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Sorties passées</label>
                </div>
            </div>

            <div class="col-2 my-auto">
                <button type="submit" class="btn btn-primary mb-2">Rechercher</button>
            </div>
        </div>

    </form>

    <div>
        <table class="table table-striped">

            <thead>
            <tr>
                <th scope="col">Nom de la sortie</th>
                <th scope="col">Date de la sortie</th>
                <th scope="col">Clôture</th>
                <th scope="col">inscrits/places</th>
                <th scope="col">Etat</th>
                <th scope="col">Inscrit</th>
                <th scope="col">Organisateur</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>

            <tbody>
            {% for sortie in sorties %}

                <tr>
                    <td>{{ sortie.nom }}</td>
                    <td>{{ sortie.datedebut|date("d/m/Y") }}</td>
                    <td>{{ sortie.datecloture|date("d/m/Y") }}</td>
                    <td> {{ sortie.sortieUser.count}} / {{ sortie.nbinscriptionsmax }}</td>
                    <td>{{ sortie.etat.libelle }}</td>
                    <td>
                        {% for participant in inscriptions %}
                            {% if (participant.user == app.user) and (participant.sortie == sortie) %}
                                X
                            {% endif %}
                        {% endfor %}
                    </td>
                    {{ dump(sortie.organisateur) }}
                    <td> <a href="{{ path('detail', {'id': sortie.organisateur.id}) }}">{{ sortie.organisateur.prenom|capitalize }} {{ sortie.organisateur.nom|first|capitalize }}.</a></td>


                    PARTIE ACTIONS

                     Si il y a encore de la place dans l'activité alors ou peut s'inscrire si l'état le permet
                    {% if (app.user.roles != ["ROLE_USER"]) %}

                        {% if sortie.etat.libelle == "En cours" %}
                            <td><a href="{{ path('affichage_sortie', {'id': sortie.id}) }}">Afficher</a></td>
                        {% endif %}

                        {% if sortie.etat.libelle == "Fermé" %}
                            <td><a href="{{ path('affichage_sortie', {'id': sortie.id}) }}">Afficher</a>
                            {% for participant in inscriptions %}
                                {% if (participant.user == app.user) and (participant.sortie == sortie) %}
                                   - <a href="{{ path('affichage_sortie', {'id': sortie.id}) }}">Se désister</a>
                                    </td>
                                {% endif %}
                            {% endfor %}
                        {% endif %}

                        {% if sortie.etat.libelle == "Crée" %}
                            <td><a href="{{ path('modification_sortie', {'id': sortie.id}) }}">Modifier</a> -
                                <a href="">Publier</a>
                            </td>
                        {% endif %}

                        {% if (sortie.etat.libelle == "Ouvert") %}
                            <td><a href="{{ path('affichage_sortie', {'id': sortie.id}) }}">Afficher</a>
                            {% for participant in inscriptions %}
                                {% if (participant.user == app.user) and (participant.sortie == sortie) and (app.user.id == sortie.organisateur.id) %}
                                    - <a href="{{ path('affichage_sortie', {'id': sortie.id}) }}">Annuler</a></td>
                                {% endif %}
                            {% endfor %}
                                - <a href="{{ path('affichage_sortie', {'id': sortie.id}) }}">S'inscrire</a></td>
                        {% endif %}

                        Si plus de place, alors la personne ne peut qu'afficher la sortie
                    {% else %}

                        <td><a href="{{ path('affichage_sortie', {'id': sortie.id}) }}">Afficher</a></td>

                    {% endif %}

                </tr>

            {% endfor %}

            </tbody>

            <tfoot>
            <tr>
                {% if app.user.roles == ["ROLE_ORGA"] or app.user.roles == ["ROLE_ADMIN"] %}
                    <td><a href="{{ path('creation_sortie') }}"><button type="submit" class="btn btn-primary mb-2">Créer une sortie</button></a></td>
                {% endif %}
            </tr>
            </tfoot>

        </table>
    </div>

{% endblock %}
