{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} Afficher une sortie{% endblock %}

{% block creationSortieCss %}
    <link rel="stylesheet" href="{{ asset('CSS/affichageSortie.css') }}">
{% endblock %}

{% block main %}
    {% for label, messages in app.flashes(['success', 'warning']) %}
        {% for message in messages %}
            <p class="alert-{{ label }}">{{ message }}</p>
        {% endfor %}
    {% endfor %}
    <h2 class="text-center content-profil mt-5 mb-5">Sortie : {{ sortie.nom }}</h2>

    <div class="mx-auto col-sm-10 mb-sm-5 col-lg-6 card">

        <ul class="mx-auto">
            <li><span class="bold">Date de debut :</span> {{ sortie.datedebut | date("d/m/Y") }}</li>
            <li><span class="bold">Date de cloture :</span> {{ sortie. datecloture | date("d/m/Y") }}</li>
            <li><span class="bold">Nombre de places :</span> {{ sortie.nbinscriptionsmax }}</li>
            <li><span class="bold">Durée :</span> {{ sortie.duree }}</li>
            <li><span class="bold">Description :</span> {{ sortie.descriptioninfos }}</li>
            <li><span class="bold">Campus :</span> {{ sortie.campus.nomCampus }}</li>
            <li><span class="bold">Lieu :</span> {{ sortie.noLieu.nomLieu }}</li>
            <li><span class="bold">Rue :</span> {{ sortie.noLieu.rue }}</li>
            <li><span class="bold">Ville :</span> {{ sortie.noLieu.ville.codePostal }} {{ sortie.noLieu.ville.nomVille }}</li>
            <li><span class="bold">Latitude :</span> {{ sortie.noLieu.latitude }}</li>
            <li><span class="bold">Longitude :</span> {{ sortie.noLieu.longitude }}</li>

            {% for participant in sortie.sortieUser %}
                <li>
                    <span class="bold">Participant :</span>
                    {{ participant.user.pseudo }}
                    {{ participant.user.nom }}
                    {{ participant.user.prenom }}
                </li>
            {% endfor %}

        </ul>

    </div>

    {% if app.user.roles == ["ROLE_ADMIN"] %}
        <div class="text-center">
            <a href="{{ path('modification_sortie', {'id': sortie.id}) }}"><button type="submit" class="btn btn-orange">Modifier la sortie</button></a>
            <a href="{{ path('annulation_sortie', {'id': sortie.id}) }}"><button type="submit" class="btn btn-orange">Annuler la sortie</button></a>
        </div>
    {% endif %}

{% endblock %}